* {
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}
.content h1{
   
    margin-right: 9.375rem;
    margin-left: 9.9375rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}